#####################################################################
#####################################################################
#  Start Break Cancel End Print
#####################################################################
#####################################################################

#####################################################################
#  Start Script
#####################################################################

[gcode_macro PRINT_START]
gcode:
    {% set target_bed = params.BED|int %}
    {% set target_extruder = params.EXTRUDER|int %}
    {% set target_chamber = params.CHAMBER|default("45")|int %}
    {% set target_chamber_minimal = params.CHAMBER_MINIMAL|default("0")|int %}
    {% set target_chamber_wait = [target_chamber, target_chamber_minimal]|select(">", 0)|min|default(0) %}
    {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
    {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}

    CLEAR_PAUSE

    RESPOND PREFIX=INFO MSG="🧭 Start: Homing"
    
    G28                                                                                      # Full home (XYZ)
    G90                                                                                      # Absolute position

    BED_MESH_CLEAR                                                                           # Clear old saved bed mesh (if any)

    # Check if the bed temp is higher than 90c - if so then trigger a heatsoak.
    {% if params.BED|int > 90 %}
    
       RESPOND PREFIX=INFO MSG="🌡️ Bed heating and Hotend 150°C (Heatsoak)"
       
       M106 S255                                                                             # Turn on the PT-fan
       SET_PIN PIN=nevermore VALUE=1                                                         # Turn on the nevermore
       G1 X90 Y90 Z15 F9000                                                                  # Go to center of the bed
       M104 S150                                                                             # Heat hotend to 150c
       M190 S{target_bed}                                                                    # Set the target temp for the bed
       
       RESPOND PREFIX=INFO MSG="♨️ Wait 4 Chamber"
       TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={target_chamber_wait}    # Waits for chamber temp

    # If the bed temp is not over 90c, then skip the heatsoak and just heat up to set temp with a 5 min soak
    {% else %}
    
       RESPOND PREFIX=INFO MSG="🌡️ Bed heating and Hotend 150°C"
       
       G1 X90 Y90 Z15 F9000                                                                  # Go to center of the bed
       M104 S150                                                                             # Heat hotend to 150c
       M190 S{target_bed}                                                                    # Set the target temp for the bed
       
       RESPOND PREFIX=INFO MSG="⏳ Heatsoak 5 min"
       
       G4 P300000                                                                            # Wait 5 min for the bedtemp to stabilize
    {% endif %}
                                                                       
    RESPOND PREFIX=INFO MSG="⚙️ QUAD_GANTRY_LEVEL"
    
    QUAD_GANTRY_LEVEL                                                                        # Level the printer via QUAD_GANTRY_LEVEL
    G28 Z                                                                                    # Home Z again after Z_TILT_ADJUST

    RESPOND PREFIX=INFO MSG="📐 Bed Mesh (adaptive)"
    
    BED_MESH_CALIBRATE adaptive=1

    #SKEW_PROFILE LOAD=calilantern_skew_profile

    RESPOND PREFIX=INFO MSG="👆 Cartographer Touch Home"
    
    CARTOGRAPHER_TOUCH_HOME

    RESPOND PREFIX=INFO MSG="🔥 Final Heating: {target_extruder}°C"
    
    G1 X15 Y4 Z15 F9000                                                                     # Go to Purge Line Start
    M107                                                                                    # Turn off partcooling fan
    M109 S{target_extruder}                                                                 # Heat the hotend to set temp

    RESPOND PREFIX=INFO MSG="🧵 Retract -5mm"
    
    G1 E-5 F1800

    RESPOND PREFIX=INFO MSG="🖨️ Start Print: Primeline"
    
    G0 X{x_wait - 75} Y4 F10000                                                             # Go to starting point
    G0 Z0.4                                                                                 # Raise Z to 0.4
    G91                                                                                     # Incremental positioning
    G1 X150 E30 F1000                                                                       # Primeline
    G90                                                                                     # Absolute position

    RESPOND PREFIX=INFO MSG="🖨️ Start Print"


#####################################################################
#  End Script
##################################################################### 

[gcode_macro print_end]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    
    RESPOND PREFIX=INFO MSG="🖨️ EnD Script: End Print"
    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-10 F1800                   ; retract filament
    
    TURN_OFF_HEATERS
    
    G90                                      ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
    G90
    
    M106 S255
    nozzle_Park

    M18
    M107                                     ; turn off fan
    SET_PIN PIN=nevermore VALUE=0
    BED_MESH_CLEAR
    #SET_SKEW CLEAR=1
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END

#####################################################################
#  Variables
#####################################################################

[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : True  ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 90  ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 10 ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 2.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 1.0   ; the value to retract while PAUSE
variable_cancel_retract   : 5.0   ; the value to retract while CANCEL_PRINT
variable_speed_retract    : 35.0  ; retract speed in mm/s
variable_unretract        : 1.0   ; the value to unretract while RESUME
variable_speed_unretract  : 35.0  ; unretract speed in mm/s
variable_speed_hop        : 15.0  ; z move speed in mm/s
variable_speed_move       : 100.0 ; move speed in mm/s
variable_park_at_cancel   : True  ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : 22 ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : 188 ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
# !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
variable_use_fw_retract   : False  ; use fw_retraction instead of the manual version [True/False]
variable_idle_timeout     : 0      ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
gcode:

#####################################################################
#  Pause
#####################################################################

[gcode_macro PAUSE]

description: Pause the actual running print
rename_existing: PAUSE_BASE
gcode:
  ##### get user parameters or use default ##### 
  {% set client = printer['gcode_macro _CLIENT_VARIABLE']|default({}) %}
  {% set idle_timeout = client.idle_timeout|default(0) %}
  {% set temp = printer[printer.toolhead.extruder].target if printer.toolhead.extruder != '' else 0 %}
  {% set restore = False if printer.toolhead.extruder == ''
              else True  if params.RESTORE|default(1)|int == 1 else False %}
  ##### end of definitions #####
  SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=last_extruder_temp VALUE="{{'restore': restore, 'temp': temp}}"
  # set a new idle_timeout value
  {% if idle_timeout > 0 %}
    SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=restore_idle_timeout VALUE={printer.configfile.settings.idle_timeout.timeout}
    SET_IDLE_TIMEOUT TIMEOUT={idle_timeout}
  {% endif %} 
  PAUSE_BASE
  {client.user_pause_macro|default("")}
  _TOOLHEAD_PARK_PAUSE_CANCEL {rawparams}

#####################################################################
#  Resume
#####################################################################

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
variable_last_extruder_temp: {'restore': False, 'temp': 0}
variable_restore_idle_timeout: 0
variable_idle_state: False
gcode:
  ##### get user parameters or use default #####
  {% set client = printer['gcode_macro _CLIENT_VARIABLE']|default({}) %}
  {% set velocity = printer.configfile.settings.pause_resume.recover_velocity %}
  {% set sp_move = client.speed_move|default(velocity) %}
  {% set runout_resume = True if client.runout_sensor|default("") == ""     # no runout
                    else True if not printer[client.runout_sensor].enabled  # sensor is disabled
                    else printer[client.runout_sensor].filament_detected %} # sensor status
  {% set can_extrude = True if printer.toolhead.extruder == ''           # no extruder defined in config
                  else printer[printer.toolhead.extruder].can_extrude %} # status of active extruder
  {% set do_resume = False %}
  {% set prompt_txt = [] %}
  ##### end of definitions #####
  #### Printer comming from timeout idle state ####
  {% if printer.idle_timeout.state|upper == "IDLE" or idle_state %}
    SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=idle_state VALUE=False
    {% if last_extruder_temp.restore %}
      # we need to use the unicode (\u00B0) for the ° as py2 env's would throw an error otherwise 
      RESPOND TYPE=echo MSG='{"Restoring \"%s\" temperature to %3.1f\u00B0C, this may take some time" % (printer.toolhead.extruder, last_extruder_temp.temp) }'
      M109 S{last_extruder_temp.temp}
      {% set do_resume = True %}
    {% elif can_extrude %}
      {% set do_resume = True %}
    {% else %} 
      RESPOND TYPE=error MSG='{"Resume aborted !!! \"%s\" not hot enough, please heat up again and press RESUME" % printer.toolhead.extruder}'
      {% set _d = prompt_txt.append("\"%s\" not hot enough, please heat up again and press RESUME" % printer.toolhead.extruder) %}
    {% endif %}
  #### Printer comming out of regular PAUSE state ####
  {% elif can_extrude %}
    {% set do_resume = True %}
  {% else %}
    RESPOND TYPE=error MSG='{"Resume aborted !!! \"%s\" not hot enough, please heat up again and press RESUME" % printer.toolhead.extruder}'
    {% set _d = prompt_txt.append("\"%s\" not hot enough, please heat up again and press RESUME" % printer.toolhead.extruder) %}
  {% endif %}
  {% if runout_resume %}
    {% if do_resume %}
      {% if restore_idle_timeout > 0 %} SET_IDLE_TIMEOUT TIMEOUT={restore_idle_timeout} {% endif %} # restore idle_timeout time
      {client.user_resume_macro|default("")}
      _CLIENT_EXTRUDE
      RESUME_BASE VELOCITY={params.VELOCITY|default(sp_move)}
    {% endif %}
  {% else %}
    RESPOND TYPE=error MSG='{"Resume aborted !!! \"%s\" detects no filament, please load filament and press RESUME" % (client.runout_sensor.split(" "))[1]}'
    {% set _d = prompt_txt.append("\"%s\" detects no filament, please load filament and press RESUME" % (client.runout_sensor.split(" "))[1]) %}
  {% endif %}
  ##### Generate User Information box in case of abort #####
  {% if not (runout_resume and do_resume) %} 
    RESPOND TYPE=command MSG="action:prompt_begin RESUME aborted !!!"
    {% for element in prompt_txt %}
      RESPOND TYPE=command MSG='{"action:prompt_text %s" % element}' 
    {% endfor %}
    RESPOND TYPE=command MSG="action:prompt_footer_button Ok|RESPOND TYPE=command MSG=action:prompt_end|info"
    RESPOND TYPE=command MSG="action:prompt_show"
  {% endif %}

#####################################################################
#  Cancel
#####################################################################

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout} ; set timeout back to configured value
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    BED_MESH_CLEAR
    #SET_SKEW CLEAR=1
    SDCARD_RESET_FILE