#####################################################################
#####################################################################
#  Bed and Filter
#####################################################################
#####################################################################

#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
heater_pin: PA1
sensor_type: Generic 3950
sensor_pin: PB1
max_power: 1
min_temp: 0
max_temp: 120

#####################################################################
#   Nevermore
#####################################################################

[output_pin nevermore]
pin: PF8
value: 0
shutdown_value: 0

[filter_monitor nevermore]
fan: fan_generic nevermore # e.g fan_generic bed_filter, heater_generic heated_chamber, etc
max_runtime_hours: 100 # Defaults to 50 hours
max_days: 90 # Defaults to 30 days
interval: 30 # Defaults to 30 seconds
stats_caption: ""
# Output override for FILTER_STATS macro. Defaults to "<filter_name> at". e.g. Air Filter at 98%
expiry_gcode: # Executed when filter meets threshold condition
path: ~/printer_data/config/configs # Folder where filter data is stored

[gcode_macro nevermore_Status]
	gcode:
     FILTER_STATS NAME=nevermore [EXTENDED=1]


[gcode_macro nevermore_Reset]
gcode:
     RESET_FILTER NAME=nevermore

#####################################################################
#   BedFan/Slave
#####################################################################

[gcode_macro _BedFanVARS]
variable_threshold: 100		# If bed temp target is above this threshold, fans will be enabled. If temp is set to below this threshold, fans will be disabled.
variable_fast: 1		# Fan speed once bed temp is reached  
variable_slow: 0.5		# Fan speed while bed is heating
gcode:

[fan_generic BedFan]
pin: PF6
cycle_time: 0.05
kick_start_time: 0.5

[gcode_macro BedFanSLOW]
gcode:
	# Vars
	{% set SLOW = printer["gcode_macro _BedFanVARS"].slow|float %}
	
	SET_FAN_SPEED FAN=BedFan SPEED={SLOW}
    SET_FAN_SPEED FAN=BedFan SPEED={SLOW}

[gcode_macro BedFanFAST]
gcode:
	# Vars
	{% set FAST = printer["gcode_macro _BedFanVARS"].fast|float %}
	
	SET_FAN_SPEED FAN=BedFan SPEED={FAST}
    SET_FAN_SPEED FAN=BedFan SPEED={FAST}

[gcode_macro BedFanOFF]
gcode:
	SET_FAN_SPEED FAN=BedFan SPEED=0
    SET_FAN_SPEED FAN=BedFan SPEED=0

[gcode_macro SET_HEATER_TEMPERATURE]
rename_existing: _SET_HEATER_TEMPERATURE
gcode:
	# Parameters
	{% set HEATER = params.HEATER|default("None") %}
	{% set TARGET = params.TARGET|default(0)|int %}
	# Vars
	{% set THRESHOLD = printer["gcode_macro _BedFanVARS"].threshold|int %}
	
	{% if HEATER|lower == "extruder" %}
		M104 S{TARGET}
	{% elif HEATER|lower == "heater_bed" %}
		M99140 S{TARGET}
	{% else %}
		{action_respond_info("Heater %s not supported" % HEATER)}
	{% endif %}

	{% if HEATER|lower == "heater_bed" %}
		{% if TARGET >= THRESHOLD %}
			BedFanSLOW
			UPDATE_DELAYED_GCODE ID=BedFanloop DURATION=1
		{% else %}
			BedFanOFF
			UPDATE_DELAYED_GCODE ID=BedFanloop DURATION=0
		{% endif %}
	{% endif %}
	
[gcode_macro M190]
rename_existing: M99190
gcode:

	{% set S = params.S|int %}

	{% set THRESHOLD = printer["gcode_macro _BedFanVARS"].threshold|int %}
	
	{% if S >= THRESHOLD %}
		BedFanSLOW																
	{% else %}
		BedFanOFF																
	{% endif %}                                        

	M140 {% for p in params
	  %}{'%s%s' % (p, params[p])}{%
	  endfor %}																	
	  
	{% if S != 0 %}
		TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={S|int} MAXIMUM={S|int + 5}	
	{% endif %}


	{% if S >= THRESHOLD %}								    
		BedFanFAST																
	{% endif %}
	
[gcode_macro M140]
rename_existing: M99140
gcode:
	{% set S = params.S|float %}
	
	SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={S}
	
[gcode_macro TURN_OFF_HEATERS]
rename_existing: _TURN_OFF_HEATERS
gcode:
	BedFanOFF
	_TURN_OFF_HEATERS
	
[delayed_gcode BedFanloop]
gcode:
	{% set THRESHOLD = printer["gcode_macro _BedFanVARS"].threshold|int %}
	
	{% if printer.heater_bed.target >= THRESHOLD %}								
		{% if printer.heater_bed.temperature|int >= (printer.heater_bed.target|int - 1) %}
			BedFanFAST															
		{% else %}
			UPDATE_DELAYED_GCODE ID=BedFanloop DURATION=5						
		{% endif %}
	{% endif %}



     