#####################################################################
#   Includes
#####################################################################
[include mainsail.cfg]
#[skew_correction]
[include configs/a_*.cfg]
[include timelapse.cfg]
#[include config_backup.cfg]
[exclude_object]

#####################################################################
#   MCU
#####################################################################

[mcu CM4]
serial: /tmp/klipper_host_mcu

[mcu EBBCan]
canbus_uuid: b02303681a70

[mcu cartographer]
canbus_uuid: a3d35f401e58

[mcu]
canbus_uuid: 0daba34a101e

[temperature_sensor Manta_CPU]
sensor_type: temperature_mcu
min_temp: 10
max_temp: 100

[temperature_sensor Raspbery_CM4]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor EBBCan]
sensor_type: temperature_mcu
sensor_mcu: EBBCan
min_temp: 0
max_temp: 110

[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 5
max_temp: 105


[temperature_sensor Chamber]
sensor_pin: PA2
sensor_type: Generic 3950

#####################################################################
#   Printer
#####################################################################

[idle_timeout]
timeout: 1800

[printer]
kinematics: corexy
max_velocity: 400  
max_accel: 4000             #Max 4000
max_z_velocity: 15          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

#####################################################################
#   Cartographer
#####################################################################

[cartographer]
mcu: cartographer
x_offset: 0 # This is the offset of your probe from the nozzle tip, to the centre of the coil.
y_offset: 30 # This is the offset of your probe from the nozzle tip, to the centre of the coil.
verbose: yes # For extra output

########################################
# Danger Options
########################################

[danger_options]
error_on_unused_config_options: False
#   If an unused config option or section should cause an error
#   if False, will warn but allow klipper to still run.
#   The default is True.
#allow_plugin_override: False
#   Allows modules in `plugins` to override modules of the same name in `extras`
#   The default is False.
#multi_mcu_trsync_timeout: 0.025
#   The timeout (in seconds) for MCU synchronization during the homing process when
#   multiple MCUs are in use. The default is 0.025
#homing_elapsed_distance_tolerance: 0.5
#   Tolerance (in mm) for distance moved in the second homing. Ensures the
#   second homing distance closely matches the `min_home_dist` when using
#   sensorless homing. The default is 0.5mm.
#temp_ignore_limits: False
#   When set to true, this parameter ignores the min_value and max_value
#   limits for temperature sensors. It prevents shutdowns due to
#   'ADC out of range' and similar errors by allowing readings outside the
#   specified range without triggering a shutdown. The default is False.
#autosave_includes: False
#   When set to true, SAVE_CONFIG will recursively read [include ...] blocks
#   for conflicts to autosave data. Any configurations updated will be backed
#   up to configs/config_backups.
#bgflush_extra_time: 0.250
#   This allows to set extra flush time (in seconds). Under certain conditions,
#   a low value will result in an error if message is not get flushed, a high value
#   (0.250) will result in homing/probing latency. The default is 0.250
#homing_start_delay: 0.001
#   How long to dwell before beginning a drip move for homing
#endstop_sample_time: 0.000015
#   How often the MCU should sample the endstop state
endstop_sample_count: 2
#   How many times we should check the endstop state when homing
#   Unless your endstop is noisy and unreliable, you should be able to lower this to 1


# Logging options:

#minimal_logging: False
#   Set all log parameters log options to False. The default is False.
#log_statistics: True
#   If statistics should be logged
#   (helpful for keeping the log clean during development)
#   The default is True.
#log_config_file_at_startup: True
#   If the config file should be logged at startup
#   The default is True.
#log_bed_mesh_at_startup: True
#   If the bed mesh should be logged at startup
#   (helpful for keeping the log clean during development)
#   The default is True.
#log_shutdown_info: True
#   If we should log detailed crash info when an exception occurs
#   Most of it is overly-verbose and fluff and we still get a stack trace
#   for normal exceptions, so setting to False can help save time while developing
#   The default is True.
#log_serial_reader_warnings: True
#log_startup_info: True
#log_webhook_method_register_messages: False

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = -1.180
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 24.874
#*# pid_ki = 2.646
#*# pid_kd = 58.456
#*# pid_version = 1
#*# pid_target = 245.00
#*# pid_tolerance = 0.0200
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 48.619
#*# pid_ki = 1.863
#*# pid_kd = 317.240
#*# pid_version = 1
#*# pid_target = 100.00
#*# pid_tolerance = 0.0200
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.4663438530501873,1.9321991819860436,0.8096338874363002,0.3496777221588215,0.5007434078850326,0.6487763246372807,-0.3339488279774332,-0.6488687788822736,0.3590210881097296,0.42103510997650523
#*# domain = 3.1909790242476193e-07,3.3245459010052864e-07
#*# z_offset = 0
#*# reference_temperature = 27.59
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.039193, -0.039193, -0.033493, -0.036226, 0.003958
#*# 	0.021130, -0.004123, -0.006817, -0.014934, 0.014447
#*# 	0.046111, 0.022465, 0.003958, -0.006817, 0.017122
#*# 	0.082334, 0.056415, 0.038173, 0.027789, 0.030214
#*# 	-0.085450, -0.102001, -0.099430, -0.091033, -0.077331
#*# min_x = 15.0
#*# min_y = 30.0
#*# max_x = 165.0
#*# max_y = 177.0
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 0
#*# mesh_y_pps = 0
#*# algo = bicubic
#*# tension = 0.2
#*#
#*# [cartographer touch_model default]
#*# threshold = 1326
#*# speed = 2.0
#*# z_offset = -0.1
